<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-assistbox"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="0.0.1">

  <name>AssistBox</name>

  <description>
    Redirect cordova app to AssistBox
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=8.0.0"/>
    <engine name="cordova-android" version=">=7.0.0"/>
    <engine name="cordova-ios" version=">=5.0.0"/>
  </engines>

  <js-module src="www/AssistBox.js" name="AssistBox">
    <clobbers target="window.AssistBox" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <framework src="src/ios/libs/AssistBoxLib.framework" />

    <config-file target="config.xml" parent="/*">
      <feature name="AssistBox">
        <param name="ios-package" value="AssistBox"/>
      </feature>
    </config-file>

    <header-file src="src/ios/AssistBox.h"/>
    <source-file src="src/ios/AssistBox.m"/>
  </platform>
  
    <!-- android -->
  <platform name="android">
    <framework src="src/android/gradle/build-extras-assistbox.gradle" custom="true" type="gradleReference" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AssistBox">
        <param name="android-package" value="com.nayah.assistbox.plugin.AssistBox" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
      <uses-feature android:name="android.hardware.camera" />
      <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
      <uses-feature android:glEsVersion="0x00020000" android:required="true"></uses-feature>		
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.CAMERA" />
    </config-file>
    
    <source-file src="src/android/com/nayah/assistbox/plugin/AssistBox.java" target-dir="src/com/nayah/assistbox/plugin"/>
    <source-file src="src/android/libs/assistbox.aar" target-dir="app/src/libs"/>
  </platform>

</plugin>
